.projects {
  width: 100%;
  &__container {
    width: 70%;
    margin: 0 auto;
    h1 {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }
  &__projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
}
